/.idea/
/backend/target/
/frontend/node_modules/
/frontend/node/
/frontend/package-lock.json
/frontend/build/
/frontend/target/
/backend/src/main/resources/static/static/
/backend/src/main/resources/static/asset-manifest.json
